* {
    margin: 0;
}

#main {
    display: flex;
    margin: auto;
    justify-content: center;
    vertical-align: middle;
    height: 100vh;
    width: 100%;
}

#box {
    display: flex;
    height: 100%;
    width: 100%;
    margin: auto;
}

#doSomething {
    margin: auto;
    height: 140px;
    width: 140px;
    border-radius: 70px;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    cursor: pointer;
    color: #fff;
    font-weight: bolder;
}

#doSomething:hover {
    background-color: #fff;
    color: #000;
}

#firstButt {
    margin: 100px auto auto 150px;
    border: 10px solid;
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    cursor: pointer;
}

#secondButt {
    margin: 200px 100px auto auto;
    border: 10px solid;
    background-color: white;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    cursor: pointer;
}

#thirdButt {
    margin: auto;
    border: 10px solid;
    background-color: white;
    height: 90px;
    width: 90px;
    border-radius: 45px;
    cursor: pointer;
}

#firstButt:hover{
    background-color: #fff !important;
}

#secondButt:hover{
    background-color: #fff !important;
}

#thirdButt:hover{
    background-color: #fff !important;
}