* {
    margin: 0;
}

#main {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    height: auto;
    width: 100%;
}

#box {
    display: flex;
    height: 30%;
    width: 100%;
    margin: auto;
}

#doSomething {
    margin: auto;
    height: 140px;
    width: 140px;
    border-radius: 70px;
    border: 1px solid;
    background-color: rgb(40, 88, 199);
    animation-name: balls;
    animation-duration: 2s;
}

/* #doSomething:hover {
    background-color: #fff;
    color: #000;
} */

#firstButt {
    margin: 100px auto auto 150px;
    border: 1px solid;
    background-color: rgb(40, 88, 199);
    height: 100px;
    width: 100px;
    border-radius: 50px;
    animation-name: balls;
    animation-duration: 2.1s;
}

#secondButt {
    margin: 200px 100px auto auto;
    border: 1px solid;
    background-color: rgb(40, 88, 199);
    height: 120px;
    width: 120px;
    border-radius: 60px;
    animation-name: balls;
    animation-duration: 1.8s;
}

#thirdButt {
    margin: auto;
    border: 1px solid;
    background-color:  rgb(40, 88, 199);
    height: 90px;
    width: 90px;
    border-radius: 45px;
}

/* #firstButt:hover{
    background-color: #fff !important;
}

#secondButt:hover{
    background-color: #fff !important;
}

#thirdButt:hover{
    background-color: #fff !important;
} */

#text {
    height: 100px;
    width: 80%;
    border: 2px solid #ccc;
    margin: 5% auto auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#buttText {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 1px solid #000;
    margin: 1% auto auto auto;
    background-color: rgb(117, 70, 183);
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#buttText:hover {
    background-color: #5815d3;
}

#input-div {
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    align-items: baseline;
  }
  
  #input {
    width: 60%;
    height: 30px;
    border: 1px solid black;
    margin: 20px auto;
    vertical-align: baseline;
    padding: 5px;
    color: white;
  }
  
  #addButton {
    width: 10%;
    height: 35px;
    margin: auto;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
  }
  
  #tasks {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto;
    overflow: auto;
  }
  
  li {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 15px 10px 10px;
    flex-wrap: wrap;
    align-items: baseline;
    border: 1px solid rgb(117, 70, 183);
    padding: 5px;
  }